<% include header.ejs %>
<script type="text/javascript">document.getElementById("dashboardNav").className = "active";</script>

<title>Dashboard | Restaurant</title>

<div class="container" ng-app="dashboard" ng-controller="dashboardCtrl">
	<div class="row">
		<div class="col-md-6">
			<h5>Payment Method</h5>
			<div id="payChart" style="width: 100%; height: 250px;"></div>
		</div>
		<div class="col-md-6">
			<h5>Menu Item</h5>
			<div id="itemChart" style="width: 100%; height: 250px;"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h5>Order Quantity</h5>
			<div id="qtyChart" style="width: 100%; height: 250px;"></div>
		</div>
	</div>
</div>

<script type="text/javascript" src="javascripts/dashboard.js"></script>
<link rel="stylesheet" type="text/css" href="stylesheets/dashboard.css">

<% include footer.ejs %>