<!DOCTYPE html>
<html>
	<head>
		<meta charset='UTF-8'>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- fontawesome -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<!-- flatui -->
		<script type="text/javascript" src="javascripts/flat-ui/dist/js/vendor/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="javascripts/flat-ui/dist/css/vendor/bootstrap.min.css">
		<script type="text/javascript" src="javascripts/flat-ui/dist/js/flat-ui.min.js"></script>
		<link rel="stylesheet" type="text/css" href="javascripts/flat-ui/dist/css/flat-ui.css">
		<!-- angular -->
		<script type="text/javascript" src="javascripts/angular/angular.min.js"></script>
		<script type="text/javascript" src="javascripts/angular/ui-bootstrap-tpls-0.12.1.min.js"></script>
		<!-- ngAside -->
		<script type="text/javascript" src="javascripts/angular/ngAside/dist/js/angular-aside.min.js"></script>
		<link rel="stylesheet" type="text/css" href="javascripts/angular/ngAside/dist/css/angular-aside.min.css">
		<!-- sidr -->
		<script src="javascripts/sidr/jquery.sidr.min.js"></script>
		<link rel="stylesheet" href="javascripts/sidr/stylesheets/jquery.sidr.light.css">
		<!-- amcharts -->
		<script type="text/javascript" src="javascripts/amcharts/amcharts/amcharts.js"></script>
		<script type="text/javascript" src="javascripts/amcharts/amcharts/serial.js"></script>
		<script type="text/javascript" src="javascripts/amcharts/amcharts/funnel.js"></script>
		<script type="text/javascript" src="javascripts/amcharts/amcharts/gauge.js"></script>
		<script type="text/javascript" src="javascripts/amcharts/amcharts/pie.js"></script>
		<script type="text/javascript" src="javascripts/amcharts/amcharts/radar.js"></script>
		<script type="text/javascript" src="javascripts/amcharts/amcharts/xy.js"></script>
		<script type="text/javascript" src="javascripts/amcharts/amcharts/exporting/amexport.js"></script>
		<script type="text/javascript" src="javascripts/amcharts/amcharts/exporting/canvg.js"></script>
		<script type="text/javascript" src="javascripts/amcharts/amcharts/exporting/rgbcolor.js"></script>
		<script type="text/javascript" src="javascripts/amcharts/amcharts/exporting/filesaver.js"></script>
		<script type="text/javascript" src="javascripts/amcharts/amcharts/exporting/jspdf.js"></script>
		<script type="text/javascript" src="javascripts/amcharts/amcharts/exporting/jspdf.plugin.addimage.js"></script>
		<script type="text/javascript" src="javascripts/chartwrapper.js"></script>
	</head>
	<body>

		<!-- dashboard (admin) -->
		<!-- order menu -->
		<!-- manage users (admin) -->
		<!-- logout -->

		<!-- NAVBAR -->
		<a id="side-menu" href="#sidr" style="margin-left: 10px; font-size: 1.5em; color: black;"><i class="fa fa-bars"></i></a>
		<div id="sidr">
			<ul>
				<li id="dashboardNav"><a href="/"><i class="fa fa-tachometer"></i> Dashboard</a></li>
				<li id="menuNav"><a href="/menu"><i class="fa fa-cutlery"></i> Order Menu</a></li>
				<li id="usersNav"><a href="/users"><i class="fa fa-users"></i> Manage Users</a></li>
				<li id="logoutNav"><a href="/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
			</ul>
		</div>

		<script type="text/javascript">
			$(document).ready(function(){
				$('#side-menu').sidr();
			});
		</script>