<html>
	<head>
		<title>Login | Restaurant</title>
		<meta charset='UTF-8'>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="text/javascript" src="javascripts/flat-ui/dist/js/vendor/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="javascripts/flat-ui/dist/css/vendor/bootstrap.min.css">
		<script type="text/javascript" src="javascripts/flat-ui/dist/js/flat-ui.min.js"></script>
		<link rel="stylesheet" type="text/css" href="javascripts/flat-ui/dist/css/flat-ui.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/login.css">
	</head>
	<body>
		<div class="login">
			<img id='logo' src="http://placehold.it/150x150">
			<form method='POST' action='/login'>
				<fieldset>
					<% if (error) { %>
						<span id='error-msg'>Invalid Username/Password</span>
					<% } %>
					<div>
						<input type="text" name="username" id="user" placeholder="Username" autofocus />
					</div>
					<div>
						<input type="password" name="password" id="password" value="" data-typetoggle="#show" placeholder="Password">
					</div>	
					<div class="remember">
						<input type="checkbox" name="cookie" id="remember_login"/>
						<span> Remember me</span>
					</div>
					<div class="centered">
						<button class="btn btn-gray" type="submit">Sign In</button>
					</div>
				</fieldset>
			</form>
		</div>
	</body>
</html>