<% include header.ejs %>
<script type="text/javascript">document.getElementById("menuNav").className = "active";</script>

<title>Order Menu | Restaurant</title>

<div class="container" ng-app="menu" ng-controller="menuCtrl">
	<!-- SIDEBAR BUTTON -->
	<button type="button" class="btn btn-inverse sidebarButton" ng-click="openAside();">View Order</button>

	<!-- MENU -->
	<div class="row">
		<div class="col-md-4" ng-repeat="item in menuItems">
			<div class="container-fluid menuItem" ng-click="selectItem(item)">
				<img class="center menuImg" src="http://placehold.it/250x150">
				<h5>{{item.name}}</h5>
				<p class="subtitle">{{item.details}}</p>
				<p class="italicSubtitle">$ {{item.price}}</p>
			</div>
		</div>
	</div>

	<!-- ITEM MODAL -->
	<script type="text/ng-template" id="itemModal.html">
		<div class="modal-header">
			<a class="pull-right" ng-click="cancel()"><i class="fa fa-times" style="color: gray; font-size: 2em;"></i></a>
			<h5 class="modal-title">Adding {{item.name}}</h5>
		</div>
		<div class="modal-body">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<img class="menuItem" src="http://placehold.it/250x150">
						<p class="subtitle">{{item.details}}</p>
						<p class="italicSubtitle">$ {{item.price}}</p>
					</div>
				</div>
				<div class="row">
					<p>Select a Payment Method</p>
					<button class="btn btn-primary" ng-click="cash()"><i class="fa fa-money"></i> Cash</button>
					<button class="btn btn-primary" ng-click="credit()"><i class="fa fa-credit-card"></i> Credit</button>
					<button class="btn btn-primary" ng-click="check()"><i class="fa fa-pencil-square-o"></i> Check</button>
				</div>
			</div>
		</div>
	</script>

	<!-- PAYMENT MODAL -->
	<script type="text/ng-template" id="paymentModal.html">
		<div class="modal-header">
			<a class="pull-right" ng-click="cancel()"><i class="fa fa-times" style="color: gray; font-size: 2em;"></i></a>
			<h5 class="modal-title">Submit Order</h5>
		</div>
		<div class="modal-body">
		</div>
	</script>

	<!-- SIDEBAR -->
	<script type="text/ng-template" id="aside.html">
		<div class="modal-header">
			<a class="pull-right" ng-click="cancel($event)"><i class="fa fa-times" style="color: gray; font-size: 2em;"></i></a>
			<h3 class="modal-title">Current Order</h3>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-md-12" ng-hide="order.length">
					<p class="italicSubtitle" style="font-size: 1.25em;">No Items</p>
				</div>
				<div class="col-md-12" ng-repeat="item in order track by $index">
					<div class="container-fluid menuItem">
						<a class="pull-right" ng-click="remove($index)"><i class="fa fa-times" style="color: gray;"></i></a>
						<p>{{item.item.name}}</p>
						<p class="italicSubtitle">$ {{item.item.price}}</p>
						<p class="italicSubtitle">Paid with {{item.payment}}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-show="order.length" ng-click="submit($event)"><i class="fa fa-check-circle"></i> Submit Order</button>
		</div>
	</script>
</div>

<script type="text/javascript" src="javascripts/menu.js"></script>
<link rel="stylesheet" type="text/css" href="stylesheets/menu.css">

<% include footer.ejs %>