<% include header.ejs %>
<script type="text/javascript">document.getElementById("usersNav").className = "active";</script>

<title>Users | Restaurant</title>

<div class="container" ng-app="users" ng-controller="usersCtrl">
	<button class="btn btn-primary" ng-click="newUser()"><i class="fa fa-user-plus"></i> New User</button>
	<!-- TABLES -->
	<div class="container tables">
		<div class="col-md-6">
			<h5>Elevated</h5>
			<div class="table-responsive">
				<table class="table table-condensed">
					<thead>
						<tr>
							<th>Username</th>
							<th>Email</th>
							<th>Remove</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="user in elevated">
							<td>{{user.username}}</td>
							<td>{{user.email}}</td>
							<td><button class="btn btn-danger btn-xs" ng-click="deleteUser(user)"><i class="fa fa-times"></i></button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-md-6">
			<h5>General</h5>
			<div class="table-responsive">
				<table class="table table-condensed">
					<thead>
						<tr>
							<th>Username</th>
							<th>Email</th>
							<th>Remove</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="user in general">
							<td>{{user.username}}</td>
							<td>{{user.email}}</td>
							<td><button class="btn btn-danger btn-xs" ng-click="deleteUser(user)"><i class="fa fa-times"></i></button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- NEW USER MODAL -->
		<script type="text/ng-template" id="newUserModal.html">
			<div class="modal-header">
				<a class="pull-right" ng-click="cancel()"><i class="fa fa-times" style="color: gray; font-size: 2em;"></i></a>
				<h5 class="modal-title">New User</h5>
			</div>
			<form method="POST" action="/users">
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							<label>Username</label><br>
							<input class="form-control" type="text" name="username" placeholder="Username" autofocus>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<label>Password</label><br>
							<input class="form-control" type="password" name="password" placeholder="Password">
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<label>Password Confirm</label><br>
							<input class="form-control" type="password" name="passwordConfirm" placeholder="Password Confirm">
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary" type="submit"><i class="fa fa-user-plus"></i> Create User</button>
				</div>
			</form>
		</script>
	</div>
</div>

<script type="text/javascript" src="javascripts/users.js"></script>
<link rel="stylesheet" type="text/css" href="stylesheets/users.css">

<% include footer.ejs %>