body {
	background: url("/images/login.jpg") no-repeat;
	background-size: 100%, 100%;
}

.login {
	background: gray;
	width: 250px;
	margin: 40px auto;
	padding: 30px 0;
	border-radius: 10px;
}

form {
	margin-top:30px;
}

input[type="text"], input[type="password"] {
	font-size: 20px;
	display: block;
	width: 250px;
	border:0;
	padding:0.8em 0 0.8em 2em;
	outline: none;
	background: rgba(0, 0, 0, 0.5);
}

#user {
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

input:focus {
	background: black;
}

.label-placeholder {
	position: absolute;
	margin-top: 13px;
	margin-left: 32px;
}

.remember {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 18px;
	font-size: 0.7em;
	color: black;
}

.centered {
	text-align: center;
}

#logo {
	height: 150px;
	margin-left: 52px;
}

#error-msg {
	color: red;
	font-style: italic;
	margin: 5px;
}

.btn-gray {
	background: rgba(0, 0, 0, 0.5);
}