.modal-dialog{
	width: 385px;
	min-width: 385px;
}

/* text */
.subtitle{
	color: gray;
	font-size: .8em;
}

.italicSubtitle{
	color: gray;
	font-size: .8em;
	font-style: italic;
}

.error{
	color: red;
	font-style: italic;
}

/* menu items */
.center{
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.menuImg{
	margin-top: 1em;
	margin-bottom: 1em;
}

.menuItem{
	margin-top:10px;
	margin-bottom:10px;
	margin-left:10px;
	margin-right:10px;
	min-width: 300px;
	border-style: solid;
	border-width:1px;
	box-shadow: 5px 5px 10px #888888;
}

/* sidebar */
.sidebarButton{
	position: fixed;
	top: 0;
	right: 0;
	z-index:1;
	opacity: 0.6;
}